<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="OpenCart.Utils.Listeners"/>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="OpenCart_Main.MainTest_OpenCart"/>
      <class name="OpenCart.Base.BaseClass"/>
      <class name="OpenCart.ExcelData.ReadExcelFile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
